<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center mt-1">
      <li class="nav-item active">
        <img src="https://i.imgur.com/qYy9TPy.png" alt="Foto do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold fs-16">Olá, {{nome}}!</p>
      </li>
      <li>
          <a [routerLink]="['/user-edit', id]"><i class="fa-solid fa-gears edit-user"></i></a>
      </li>
  </ul>
  <ul class="navbar-nav mr-auto d-flex align-items-center mt-1">
     <li class="d-flex justify-content-center">
      <a href="" data-toggle="modal" data-target="#novaPostagem"><i class="fa-solid fa-square-plus post-img" (click)="getAllTemas()"></i></a>
      </li>
  </ul>
  <ul class="navbar-nav ml-auto d-flex align-items-center mt-1">
      <li class="nav-item pl-3">
          <a href="" class="mr-0 font-weight-bold fs-11" (click)='sair()'><i class="fa-solid fa-power-off post-img"></i></a>
       </li>
  </ul>
  </div>
</nav>







  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="texto">Foto</label>
            <textarea [(ngModel)]='postagem.imgUrl'  class="form-control" name="imgUrl" id="imgUrl" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]='postagem.texto'  class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="texto">Contato</label>
            <input type="text"[(ngModel)]='postagem.contato'  class="form-control" name="contato" id="contato" rows="1">
          </div>

          <div class="form-group">
            <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema" class="cadastro">cadastre um novo</a> </label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
                <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
            </select>
          </div>

        </div>
        <div class="modal-footer"> 
          <button type="button" class="btn-white botao1" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn-white botao2" (click)="publicar()" data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->
