@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

.navbar{
    background-color: #5C50A9;
    backdrop-filter: blur(20px);
    color: #FFFFFF;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 39.13px;
    height: 106.6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p{
    font-family: 'Sarala', sans-serif;
}

.edit-user{
    color: #98CCFD;
}

.post-img{
    color: #98CCFD;
    font-size: 40px;
}

li > a{
    color: #FFFFFF;
}

