



<div class="container-fluid back">

    <div class="row d-flex align-items-center">
        <div class="col-md-5">

            <div class="row d-flex justify-content-center ">
                <div class="col-md-5">
                    <h1 class="text-center mb-3">Entrar</h1>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="txt" name="ususario" id="usuario"
                            aria-placeholder="Seu Usuário">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="txt" name="senha" id="senha" aria-placeholder="Sua Senha">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Entrar</button>
                    </div>
                    <hr class="mt-5 mb-3">
                    <p>Não tem uma conta?<a routerLink='/cadastrar'> Cadastre-se</a>
                    </p>
                    <p>Conheça a <a routerLink="/sobre">Uaná </a></p>


                </div>

            </div>
        </div>
        <div class="col-md-7" id="img-bg"></div>
    </div>
</div>