main{
    background-image: linear-gradient(to right top, #5c50a9, #4a6cb3, #4f82b4, #6a95b0, #90a5ad);
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt
}

.img-capa{
    width: 500px;
    height: 500px;
}