.main{
    background-image: linear-gradient(to right top, #5c50a9, #4a6cb3, #4f82b4, #6a95b0, #90a5ad);
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt
}

.img-capa{
    width: 500px;
    height: 500px;
}


/*Cards*/
.dark {
    background: #E1E5EA;
  }

  .light {
    background-image: linear-gradient(45deg, #CBDAE5, #E1E5EA);
  }

  a,
  a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  #pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
  }

  /* Cards */
  .postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
  }
  .postcard.dark {
    background-color: #E1E5EA;
  }
  .postcard.light {
    background-color: #A1A7AD;
  }
  /* .postcard .t-dark {
    color: #18151f;
  } */
  .postcard a {
    color: inherit;
  }
  .postcard h1,
  .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .postcard .small {
    font-size: 80%;
  }
  .postcard .postcard__title {
    font-size: 1.75rem;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  .postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .postcard .postcard__img_link {
    display: contents;
  }
  .postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }
  .postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  .postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  .postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
  }
  .postcard .postcard__tagbox .tag__item:hover {
    background: rgba(87, 87, 87, 0.8);
  }
  .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #E1E5EA, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
  .postcard:hover .postcard__bar {
    width: 100px;
  }

  @media screen and (min-width: 769px) {
    .postcard {
      flex-wrap: inherit;
    }
    .postcard .postcard__title {
      font-size: 2rem;
    }
    .postcard .postcard__tagbox {
      justify-content: start;
    }
    .postcard .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
      padding: 3rem;
      width: 100%;
    }
    h1{
      font-family: 'Sarala', sans-serif;
    }
    p{
      font-family: 'Zen Kurenaido', sans-serif;
    }
    .texto{
    color: #18151f;
    }
    .postcard .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }
    .postcard:hover .postcard__img {
      transform: scale(1.1);
    }
    .postcard:nth-child(2n+1) {
      flex-direction: row;
    }
    .postcard:nth-child(2n+0) {
      flex-direction: row-reverse;
    }
    .postcard:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }
    .postcard:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
  @media screen and (min-width: 1024px) {
    .postcard__text {
      padding: 2rem 3.5rem;
    }

    .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    .postcard.dark .postcard__text:before {
      background: #18151f;
    }

    .postcard.light .postcard__text:before {
      background: #e1e5ea;
    }
  }
  /* COLORS */
  .postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
  }
