<div class="main">
  <div class="container mb-0 mt-0 main" id="postagens">
    <nav>
      <div
        class="nav nav-tabs d-flex justify-content-center"
        id="nav-tab"
        role="tablist"
      >
        <a
          class="nav-link active text-secondary font-weight-bold"
          id="nav-todasPostagens-tab"
          data-toggle="tab"
          href="#todasPostagens"
          role="tab"
          aria-controls="nav-todasPostagens"
          aria-selected="true"
          >Publicação</a
        >

        <a
          (click)="findByIdUser()"
          class="nav-link text-secondary font-weight-bold"
          id="nav-minhasPostagens-tab "
          data-toggle="tab"
          href="#minhasPostagens"
          role="tab"
          aria-controls="nav-minhasPostagens"
          aria-selected="false"
          >Minhas Postagens</a
        >
      </div>
    </nav>
    <div class="tab-content mt-3" id="nav-tabContent">
      <!--Card Todas as Postagens-->
      <div
        class="tab-pane fade show active"
        id="todasPostagens"
        role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab"
      >
        <div class="card-columns mt-2 d-flex flex-column">
          <div
            class="text-center"
            style="max-width: 100%"
            *ngFor="let item of listaPostagens"
          >
            <!--inicio-->
            <div class="container ">
              <div class="container py-4">
                <article class="postcard light blue">
                  <a class="postcard__img_link" href="#">
                    <img
                      class="postcard__img"
                      src="{{ item.imgUrl }}"
                      alt="Image Title"
                    />
                  </a>
                  <div class="postcard__text align-items-center">
                    <h1 class="postcard__title blue texto">
                      {{ item.tema.descricao }}
                    </h1>
                    <div class="postcard__subtitle small texto">
                      <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2 texto"></i
                        >{{ item.dataPublic | date: "dd/MM/yyyy" }} às
                        {{ item.dataPublic | date: "HH:mm" }}
                      </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt texto">{{ item.texto }}</div>
                    <ul class="postcard__tagbox d-flex justify-content-center texto">
                      <li class="tag__item">
                        <i class="fas fa-tag mr-2 texto"></i>{{ item.contato }}
                      </li>

                      <li class="tag__item play blue texto">
                        {{ item.usuario.nome }}
                      </li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--/Card Todas as Postagens-->

      <!--Card Minhas Postagens-->
      <div
        class="tab-pane fade"
        id="minhasPostagens"
        role="tabpanel"
        aria-labelledby="nav-minhasPostagens-tab"
      >
        <div class="card-columns mt-2 d-flex flex-column">
          <div
            class="text-center"
            style="max-width: 100%"
            *ngFor='let item of user.postagem'
          >
            <!--inicio-->
            <div class="container">
              <div class="container py-4">
                <article class="postcard dark blue">
                  <a class="postcard__img_link" href="#">
                    <img
                      class="postcard__img"
                      src="{{ item.imgUrl }}"
                      alt="Image Title"
                    />
                  </a>
                  <div class="postcard__text align-items-center">
                    <h1 class="postcard__title blue">
                      {{ item.tema.descricao }}
                    </h1>
                    <div class="postcard__subtitle small">
                      <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i
                        >{{ item.dataPublic | date: "dd/MM/yyyy" }} às
                        {{ item.dataPublic | date: "HH:mm" }}
                      </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">{{ item.texto }}</div>
                    <ul class="postcard__tagbox d-flex justify-content-center">
                      <li class="tag__item">
                        <i class="fas fa-tag mr-2"></i>{{ item.contato }}
                      </li>
                    </ul>
                    <div
                      class="postcard__tagbox d-flex justify-content-center align-items-center"
                    >
                      <a
                        [routerLink]="['/postagem-edit', item.id]"
                        class="text-info mr-3"
                        href=""
                        >Editar</a
                      >
                      <a
                        [routerLink]="['/postagem-delete', item.id]"
                        class="text-danger"
                        href=""
                        >Apagar</a
                      >
                    </div>

                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>

        <!--/Card Minhas Postagens-->
      </div>
    </div>
  </div>
</div>
