.body{
    height: 100vh;
    background-image: url("https://i.imgur.com/01ytHYM.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.main  {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
}

h1{
    font-size: 32px;
    font-family: 'Sarala', sans-serif;
    font-weight: bold;
    color: #0C0B22;
    line-height: 52px;
}

p{
    font-family: 'Zen Kurenaido', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4B4B4B;
}

label, .email{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 18px;
    color: #4B4B4B;
}

button{
    width: 100%;
    background: linear-gradient(90.17deg, #5C50A9 0.19%, #90A5AD 99.77%);
    border-radius: 5px;
    font-family: 'Sarala', sans-serif;
}

#img-bg{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/06/18/home-office-1867761_960_720.jpg');
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
