.fundo {
  background-image: url("https://i.imgur.com/01ytHYM.png");
  background-position: center;
  background-size: cover;
  height: 761px;
  width: 1366px;
  left: -684px;
  top: -381px;
  border-radius: 0px;
}

.formulario {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 3%;
  position:absolute;
  top: 60px;
  height: 650px;
  width: 650px;
  left: 360px;
  align-items: center;
  padding: 60px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
}
.botao1 {
  background: linear-gradient(90.17deg, #eacb30 0.19%, #f4e174 99.77%);
  height: 38px;
  width: 153px;
  left: 743px;
  top: 593px;
  border-radius: 5px;
  border: none;
  font-family: 'Sarala', sans-serif;
}
.botao2 {
  background: linear-gradient(90.17deg, #5c50a9 0.19%, #90a5ad 99.77%);
  height: 38px;
  width: 153px;
  left: 743px;
  top: 593px;
  border-radius: 5px;
  border: none;
  font-family: 'Sarala', sans-serif;
}

h1{
  font-family: 'Sarala', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

label{
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 18px;
  color: #4B4B4B;
}

p{
  font-family: 'Zen Kurenaido', sans-serif;
  color: #4B4B4B;
}
