<footer class="page-footer font-small pt-4 body">

    <div class="container">

            <div class="row">
                <div class="col-md-3 rounded float-left">
                    <img class="img" src="https://i.imgur.com/lq3AfOm.png" alt="Logo Uaná">
                </div>

                <div class="row">
                    <div class="col-md-9 d-flex justify-content-end">
                        <h4 class="text-white">Siga-nos nas redes sociais</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 d-flex justify-content-end">
                        <ul class="social-network">
                            <li>
                                <a href="https://github.com/WilliRamon" target="_blank" class="icoGithub" title="GitHub"><i class="fa-brands fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/williramon/" target="_blank" class="icoInstagram" title="Instagram"><i class="fa-brands fa-instagram-square"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/willi-sabino/" target="_blank" class="icoLinkedin" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>





        
            <!-- <div class="row">

                <div class="img d-flew justify-content-start"><img src="https://i.imgur.com/lq3AfOm.png" alt=""></div>
                        
                
                        <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-white">Siga-nos nas redes sociais</h4>
                </div>
                        </div>
                
                        <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="social-network">
                        <li>
                            <a href="https://github.com/WilliRamon" target="_blank" class="icoGithub" title="GitHub"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/williramon/" target="_blank" class="icoInstagram" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/willi-sabino/" target="_blank" class="icoLinkedin" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
                        </div>
            </div> -->


    </div>

</footer>
