<div class="container-fluid" >

    <div class="col-md-12">
        <div class="row d-flex justify-content-center">
            <img src="https://i.imgur.com/01ytHYM.png" alt="Fundo" width="1366" height="761">

            <div class=" Bloco-fundo Bloco-texto col-md-6 pl-5 pr-5">
                <h1 class="Titulo">Uaná</h1>
                <h5 class="Subtitulo">Do Tupi-Guarani: vagalume, aquele que leva a luz a todos os lugares.</h5>
                <p class="Texto">
                    Uaná é uma Rede social brasileira, que surgiu com o propósito de levar energia limpa e sustentável para todes. E consite em fazer o que o brasileiro faz de melhor, compartilhar ideias! Promovemos o contato com ONG’s e comunidades para fornercer energia sustentável, e dicas de economia energética.
                    
                    Vem pra Uaná!!</p>
            
            <div class="botoes d-flex justify-content-center">
                <button style="margin-right: 15px;" type="submit" class="Logar" routerLink="/login">Logar</button>
                <button style="margin-right: 15px;" type="submit" class="Cadastrar" routerLink="/cadastrar">Cadastrar</button>
            </div>

            </div>
            
         </div>
            
     </div>
       


</div>

