@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right top, #5c50a9, #4a6cb3, #4f82b4, #6a95b0, #90a5ad);
    background-image: linear-gradient(to right top, #5c50a9, #4a6cb3, #4f82b4, #6a95b0, #90a5ad);    min-height: 100vh;
}

.voltar{
    margin-left: 30px;
    font-family:'Sarala', sans-serif;

}

.ods{
    border-radius: 3%;
    margin-left: 300px;
}

.titulo{
    font-family:'Sarala', sans-serif;
}

.texto{
    font-family:'Sarala', sans-serif;
    font-size: 16px;
    margin-left: 16px;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 1.0rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555; 
}

/* .fundoCard{
    background-color: #5c50a9;
    backdrop-filter: blur(8px);
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
} */

.card{
    background-color: #90a5ad;
    font-family:'Sarala', sans-serif;

}


