
<body>
    <a class="voltar text-light" routerLink="/inicio"  ><i class="fa fa-arrow-circle-left text-light" width="250px" height="250px"  ></i> Voltar</a>
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 mt-3">
                <h1 class="titulo text-center">Nossa Origem</h1>
                <p class="texto text-justify"> O <b>Uaná</b> nasceu em 2022 quando um grupo de desenvolvedores escolheu lutar para levar a energia limpa e renovável a todes. 
                <p class="texto text-justify">Além de atender ao objetivo de Desenvolvimento Sustentável (ODS) da Agenda ONU 2030, nossa rede social busca gerar impacto através da tecnologia.</p> 
                <p class="texto text-justify"><a class="text-light"href="https://brasil.un.org/pt-br/sdgs/7">Clique aqui </a> para saber mais sobre os Objetivos de Desenvolvimento Sustentável.</p>
        
            </div>

            <div class="ods col-md-2 mt-3 d-flex justify-content-end">
                <img class="ods  mr-2" href="https://brasil.un.org/pt-br/sdgs/7" src="https://i.imgur.com/1G1SZ3n.jpg" alt="Imagem da ODS 7 da ONU, que fala sobre energia limpa e acessível pra todos" width="200px" height="250px">
                    
            </div>
        </div>
    </div>

    <hr>


    <!-- For demo purpose -->

    <div class=" titulo container py-5">
        <div class="row text-center text-black">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">Time de Desenvolvedores</h1>
            </div>
        </div>
    </div><!-- End -->

    <hr>


    <div class="container">
        <div class="row text-center">

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/cassiacfwatanabe.png"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Cássia Carolina </h5><span class="small text-uppercase text-muted">Developer
                    </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/ed1van.png" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Edivan Ferreira </h5><span class="small text-uppercase text-muted">Developer
                    </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img
                        src="https://github.com/GuilhermeRamosTeixeira.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Guilherme Ramos </h5><span class="small text-uppercase text-muted">Developer
                    </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/DwIgor.png" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Igor Mendes </h5><span class="small text-uppercase text-muted">Developer </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/larissa-oliv.png" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Larissa Oliveira </h5><span class="small text-uppercase text-muted">Developer
                    </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/WilliRamon.png" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Willi Ramon </h5><span class="small text-uppercase text-muted">Developer </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->
        </div>
    </div> 

</body>