<div  class="container-fluid">
    <div class="row d-flex align-items-center">
        
        <div class="col-md-8 mr-2">
            <div class=" row d-flex justify-content-center">
            <img class=" row d-flex justify-content-center" src="https://github.com/projetouana.png" alt="Uanaimagem" width="200" heigth= "200">
            <h1 >UANÁ</h1>
            <h3 >Do Tupi-Guarani: vagalume, aquele que leva a luz a todos os lugares.</h3><br>
            
            <p style="text-align: justify;"> <b>Uaná</b> é uma Rede social que surgiu com o propósito de unir e compartilhar energia limpa e sustentável para todes. Onde as pessoas poderão ler sobre a ideia de
            uma determinada ONG ou COMUNIDADE para fornecer energia sustentável, promovendo contato com a ONG, e até mesmo divulgando em outras plataformas.</p><br>
            </div>
        </div>
    </div>
    
    
      <!-- For demo purpose -->
      <body>
    <div class="container py-5">
        <div class="row text-center text-black">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">Time de Devs</h1>
            </div>
        </div>
    </div><!-- End -->
    
    
    <div class="container">
        <div class="row text-center">
    
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/cassiacfwatanabe.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Cássia Carolina </h5><span class="small text-uppercase text-muted">Developer </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->
    
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/ed1van.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Edivan Ferreira </h5><span class="small text-uppercase text-muted">Developer </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->
    
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/GuilhermeRamosTeixeira.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Guilherme Ramos </h5><span class="small text-uppercase text-muted">Developer </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->
    
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/DwIgor.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Igor Mendes </h5><span class="small text-uppercase text-muted">Developer </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->
    
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/larissa-oliv.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Larissa Oliveira </h5><span class="small text-uppercase text-muted">Usuario </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->
    
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-7 px-6"><img src="https://github.com/WilliRamon.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Willi Ramon </h5><span class="small text-uppercase text-muted">Developer </span>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <ul class="social mb-0 list-inline mt-3 mr-auto d-flex align-items-center">
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
                                <li class="list-inline-items"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End -->
        </div>
    </div>
    
    </body>
    
    
</div>