<footer class="page-footer font-smal bg-secondary pt-4">

  <div class="container">
  
      <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
              <h4 class="text-white">Siga-nos nas redes Sociais</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
              <ul class="social-network">
                  <li>
                      <a href="https://www.linkedin.com/in/igor-mendes-b051a11bb/" target="_blank" class="iconlinkedin"><i class="fa fa-linkedin" aria-hidden="true"></i>
  
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/DwIgor" target="_blank" class="iconGithub"><i class="fa fa-github" aria-hidden="true"></i>
  
                      </a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/" target="_blank" class="iconInstagran"><i class="fa fa-instagram"aria-hidden="true"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
      <div class="footer-copyright bg-dark text-center py-3">
          <span class="text-light">© 2022 Copyright: www.projetouana.com</span>
  
      </div>
  
  
  
  </footer>