ul.social-network{
    list-style: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
.fa{
    font-size: 2.5rem;
    color: #fff;
    padding: 10px;

}
.fa-linkedin:hover{
    color: #3b5998;
}
.fa-github:hover{
    color:#000 ;
}
.fa-instagram:hover{
    color: #c13584;
}